main {
  width: 100%;
  min-height: 100vh;
}

main > section {
  width: 40%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.imagen1 {
  background-image: url("../img/pc1.png");
}

h1 {
  color: white;
  font-weight: bold;
  font-size: large;
}

.bg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 140px;
  width: 240px;   
  padding-top: 20px;
}

 main > section > article {
  width: 60%;
  height: 100%;
  /* background-color: #4a7b30; */
  background-color: #7ba238;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 2%;
  border: 1px solid black;
}

main > section > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  width: 200px
}

main > section > section :nth-child(3){
  padding-top: 5px;

}

#contenedor_formulario {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 120px;

}

#calculo {
  background-color: orange;
  color: white;
  font-size: 18px;
  border: 2px solid gray;
  
}

#contenedor_formulario :nth-child(4){
  padding-left: 20px;
}

#color_final {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: crimson;
  /* padding-left: 9px; */
 
} 

#resultado_de_color {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around;
  align-items: flex-start; */
}

/* #resultado_de_color > :nth-child(2){
  padding-left: 5px;
} */